{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://knowledge-base5.p.rapidapi.com"
    }
  ],
  "info": {
    "title": "KnowledgeBase",
    "version": "1.0",
    "url": "https://rapidapi.com/supertoha/api/knowledge-base5"
  },
  "paths": {
    "/AddWebSite": {
      "post": {
        "tags": [
          "AddWebSite"
        ],
        "operationId": "AddWebSite",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "knowledgebase",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ask": {
      "get": {
        "tags": [
          "Ask"
        ],
        "operationId": "Ask",
        "parameters": [
          {
            "name": "knowledgebase",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponseBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponseBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponseBaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/DeleteDocument": {
      "delete": {
        "tags": [
          "DeleteDocument"
        ],
        "operationId": "DeleteDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectBaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetDocuments": {
      "get": {
        "tags": [
          "GetDocuments"
        ],
        "operationId": "GetDocuments",
        "parameters": [
          {
            "name": "knowledgebase",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponseArrayBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponseArrayBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponseArrayBaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "operationId": "Ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponseBaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/UploadDocument": {
      "post": {
        "tags": [
          "UploadDocument"
        ],
        "operationId": "UploadDocument",
        "parameters": [
          {
            "name": "knowledgebase",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "files": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewDocumentResponseBaseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewDocumentResponse": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewDocumentResponseBaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "$ref": "#/components/schemas/NewDocumentResponse"
          }
        },
        "additionalProperties": false
      },
      "ObjectBaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PingResponseBaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "$ref": "#/components/schemas/PingResponse"
          }
        },
        "additionalProperties": false
      },
      "QuestionResponse": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "nullable": true
          },
          "sourses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceResponse"
            },
            "nullable": true
          },
          "hasAnswer": {
            "type": "boolean"
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "QuestionResponseBaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "$ref": "#/components/schemas/QuestionResponse"
          }
        },
        "additionalProperties": false
      },
      "SourceResponse": {
        "type": "object",
        "properties": {
          "sourceName": {
            "type": "string",
            "nullable": true
          },
          "documentId": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SourceResponseArrayBaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceResponse"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}
